.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.output
/api/render
.vscode/*
api/api-documentation
api/sk_render
with_vars.sh
coverage